.App{
    display: flex;
    margin-top: 80px;
}
.top{
    width: 100%;
    position: fixed;
    top: 0%;
    color: white;
    background-color: black;
    text-align: center;
}
.loading-1{
    text-align: center;
    width: 25%;
}
.list-title{
    text-align: center;
}
.detail-title{
    text-align: center;
}
.list{
    height: 90vh;
    overflow: scroll;
    width: 25%;
    text-decoration: none;
    list-style-type: none;
    background-color: #050C23;
    color: white;
}
li{
    border-top: 1px solid rgb(136, 99, 99);
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.details{
    width: 75%;
    padding: 20px;
    height: auto;
    background-color: #BFD8D5;
}